@charset "utf-8";
/* CSS Document */

/*assets*/

html, body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #504b4b;
	background-image:url(../assets/images/background.png);
	background-repeat: repeat;
}

h1 {
	font-size: 71px;
	color: #504b4b;
	text-shadow: -1px 1px #ccc;
}

h2 {
	font-size: 22px;
	line-height: 22px;
	color: #504b4b;
}

h3 {
	font-size:14px;
	line-height: 20px;
	margin-bottom: 18px;
	text-indent: 25px;
	color: #958b8b;
}

h4 {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
	color: #504b4b;
}

h5 {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 18px;
}

a:link, a:visited {
	color: #fa6767;
}

a:hover, a:active {
	color: #fb9b9b;
	border-bottom: 1px dotted #fb9b9b;
}

p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 18px;
}

.start:first-letter {
	font-size: 25px;
}

.centered {
	text-align: center;
}

.italics {
	font-style: italic;
}

.lightgrey {
	color: #958b8b;
	font-style: italic;
}

br {
	clear:both;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.alignleft {
	float: left;
	margin-right: 15px;
}

.left {
	float: left;
	margin-right: 3%;
}

.right {
	float: right;
}

.twothirds {
	width: 64%;
}

.onethird {
	width: 33%;
}

/*layout*/

#wrapper {
	padding: 10px;
	max-width: 940px;
	min-width: 280px;
	margin: 0 auto 0 auto;
}

#header {
	width: 640px;
	margin: 125px auto 150px auto;
}

#title {
	margin-right: 20px;
	float: left;
	text-align: right;
}

#slogan {
	font-style: italic;
	padding: 40px 0 0 0;
}

#nav {
	text-align: center;
	font-size: 14px;
}

#nav ul {
	width: 280px;
	position: relative;
	margin: 0 auto 0 auto;
	z-index: 2;
	background-image: url(../assets/images/background.png);
	background-repeat: repeat;
	text-align: center;
}

#nav li {
	display: inline;
	margin: 0 5px 0 5px;
}

#nav hr {
	height: 1px;
	border: none;
	position: relative;
	z-index: 1;
	bottom: 13px;
	background: #504b4b; /* fallback for non-supporting browsers */  
	background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(black), to(white)); /* old WebKit Syntax */  
	background-image: -webkit-radial-gradient(center center, circle cover, black 0%, white 100%); /* New WebKit syntax */  
	background-image: -moz-radial-gradient(center center, circle cover, black 0%, white 100%);  
	background-image: -ms-radial-gradient(center center, circle cover, black 0%, white 100%); /* IE10+ */  
	background-image: -o-radial-gradient(center center, circle cover, black 0%, white 100%); /* Opera (13?) */  
}

#content {
	padding-top: 75px;
}

#content h2 {
	margin-bottom: 22px;
}

#about {
	width: 650px;
	margin: 0 auto 0 auto;
}


#selfport {
	float: left;
	width: 270px;
	height: 270px;
	margin-right: 50px;
	padding: 15px 15px 70px 15px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
	-moz-box-shadow: 0 0 10px #999;
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); /* IE 9 */
	-moz-transform:rotate(-7deg); /* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari and Chrome */
	-o-transform:rotate(-7deg); /* Opera */
}

#latest {
	width: 940px;
	margin: 75px auto 0 auto;
}

#slideshow {
	float: left;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 1%;
	margin-right: 20px;
	width: 510px;
	box-shadow: 0 0 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
	-moz-box-shadow: 0 0 10px #999;
}

#slideshow img {
	width: 100%;
}

#text, #caption {
	padding: 40px 0 0 0;
}

#caption h2 {
	text-align: left;
	margin: 60px 0 0 0;
}

#caption h3 {
	text-indent: 0;
}

/** Portfolio **/

#sites {
	margin: 25px auto 0 auto;
}

#sites a:hover, #site a:active {
	border-bottom: none;
}

#sites div {
	float: left;
	width: 30%;
	margin-bottom: 10px;
}

#sites img {
	width: 100%;
	padding: 2px;
	box-shadow: 0 0 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
	-moz-box-shadow: 0 0 10px #999;
	margin-bottom: 10px;
}

#sites img:hover {
	box-shadow: 0 0 10px #fb9b9b;
	-webkit-box-shadow: 0 0 10px 3px #fb9b9b;
	-moz-box-shadow: 0 0 10px 3px #fb9b9b;
}

.port_col_1, .port_col_2 {
	margin-right: 5%;
}
	

/** Portfolio Entries **/

#breadcrumb {
	text-align:center;
	text-indent: 0;
	margin-bottom: 0;
}

#slides {
	width: 96%;
}

#description {
	float: left;
	width: 65%;
	margin: 25px 0 0 0;
	padding: 0 1% 0 0;
	border-right: 1px dotted #958b8b;
}

#links {
	float: left;
	width: 32%;
	margin: 25px 0 0 0;
	padding: 0 0 0 1%;
}

#links p {
	margin-bottom: 0px;
}


/** Contact **/

#form {
	float: left;
	width: 442px;
	margin-right: 36px;
}

form p {
	margin-bottom: 0px;
}

#form input, #form textarea, #form select {
	width: 442px;
	margin-bottom: 18px;
}

#form textarea {
	height: 100px;
}	

#submit {
	padding: 2px;
	border: 1px dotted #fa6767;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: 400;
	color: #fa6767;
	background: none;
}

#submit:hover {
	border: 1px dotted #fb9b9b;
	color: #fb9b9b;
}

#socialmedia {
	text-align: center;
}
	

/** Footer **/

#footer {
	clear:both;
	padding: 50px 0 0 0;
	font-size: 11px;
	text-align: center;
	color: #958b8b;
}

@media screen and (min-width: 651px) and (max-width: 959px) {					
	#text, #caption {
		text-align: left;
	}
	
	#latest {
		width: auto;
	}
		
	#slideshow {
		float: none;
		margin: 0 auto 0 auto;
	}
	
	#caption {
		width: 540px;
		margin: 0 auto 0 auto;
	}
	
	#caption h2 {
		margin: 0px;
	}
	
}

@media screen and (max-width: 650px) {
		
	h1 {
		font-size: 50px;
	}
	
	h2, .start:first-letter {
		font-size: 18px;
	}
	
	
	.left {
		float: none;
	}
	
	.right {
		float: none;
	}
	
	.twothirds {
		width: 100%;
	}
	
	.onethird {
		width: 100%;
		text-align:center
	}
	
	.onethird h3 {
		text-indent: 0;
	}
			
	#header {
		width: auto;
		margin: 50px 0 50px 0;
		text-align: center;
	}
	
	#title {
		float: none;
		margin: 0;
		text-align: center;
	}
	
	#content {
	}
	
	#text, #caption {
		text-align: left;
		max-width: 540px;
		margin: 0 auto 0 auto;
	}
	
	#about {
		width: auto;
		text-align: center;
	}
	
	#selfport {
		float: none;
		width: auto;
		max-width: 	270px;
		margin: 0;
		transform:rotate(0deg);
		-ms-transform:rotate(0deg); /* IE 9 */
		-moz-transform:rotate(0deg); /* Firefox */
		-webkit-transform:rotate(0deg); /* Safari and Chrome */
		-o-transform:rotate(0deg); /* Opera */

	}

	#latest {
		width: auto;
	}
		
	#slideshow {
		width: auto;
		max-width: 510px;
		float: none;
		margin: 0 auto 0 auto;
	}
	
	#caption h2 {
		margin: 0px;
	}
	
	#description {
		float: none;
		width: 100%;
		margin: 25px 0 0 0;
		padding: 0 0 0 0;
		border-right: none;
	}

	#links {
		float: none;
		width: 100%;
		margin: 25px 0 0 0;
		padding: 25px 0 25px 0;
		text-align:center;
		border-top: 1px dotted #958b8b;
		border-bottom: 1px dotted #958b8b;
	}
	
	#links h3 {
		text-indent: 0;
	}
	
	/** Portfolio **/
	
	#sites div {
		float: none;
		width: 300px;
		margin: 0 auto 10px auto;
		padding: 0;
	}
			
	.port_col_1, .port_col_2 {
		margin-right: 0;
	}
	
}

	