@charset "utf-8";
/* CSS Document */

#slides {
	margin: 0 auto 0 auto;
	box-shadow: 0 0 10px #504b4b;
	-webkit-box-shadow: 0 0 10px #504b4b;
	-moz-box-shadow: 0 0 10px #504b4b;
}

#slides img {
	width: 96%;
	margin: 2%;
}

#slidesnav {
	margin-top: 18px;
	text-align: center;
	font-size: 25px;
}

#slidesnav img {
	position: relative;
	bottom: 2px;
	margin: 0 5px 0 5px;
}

	